# PDFs
anfiheft-info.pdf
anfiheft-kogni.pdf
anfiheft.pdf

# Configuration files
makeconfig.tex
info-makeconfig.tex
kogni-makeconfig.tex

# Build directories
out-info/
out-kogni/

# Nix (the package manager we use for CI)
result

# Editor files
*.swp

# LaTeX
*.aux
*.fls
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.bak
*.dvi

# macos stuff...
.DS_Store